body {
  background-image: url("http://i.imgur.com/aNavBcv.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

h1 {
  text-align: center;
  color: white;
  font-family: 'Homemade Apple', cursive;
  font-size: 50px;
  font-weight: 800;
  margin-top: 35px;
}

.container {
  vertical-align: middle;
  margin: 0 auto;
  /*border: 3px solid white;*/
  margin-top:25px;
  box-sizing: border-box;
  max-width: 450px;
  height: 450px;
  position: relative;
  background-color:black;
}

.button {
  border: 10px solid;
  background-color: transparent;
  width: 200px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
  outline: none;
}

#b0 {
  position: absolute;
  left: 0;
  top: 0;
  border-color: #EA4335;
}

#b0-red {
  position: absolute;
  left: 0;
  top: 0;
  border-color: #EA4335;
  background-color: #EA4335;
}

#b1 {
  position: absolute;
  right: 0;
  top: 0;
  border-color: #FBBC05;
}

#b1-yellow{
  position: absolute;
  right: 0;
  top: 0;
  border-color: #FBBC05;
  background-color: #FBBC05;
}

#b2 {
  position: absolute;
  right: 0;
  bottom: 0;
  border-color: #34A853;
}

#b2-green {
  position: absolute;
  right: 0;
  bottom: 0;
  border-color: #34A853;
  background-color: #34A853;
}

#b3 {
  position: absolute;
  left: 0;
  bottom: 0;
  border-color: #4385F4;
}

#b3-blue {
  position: absolute;
  left: 0;
  bottom: 0;
  border-color: #4385F4;
  background-color: #4385F4;
}

.break {
  position: relative;
  height: 30px;
}

.start {
  padding: 10px 30px;
  position: relative;
  margin: 0 auto;
  display: block;

}

/*.start .break:before {
  height:; 140px;
}*/

footer{
  display: block;
  margin-top: 30px;
/*  left: 0;
  bottom: 0;
  right: 0;*/
  padding-top: 1rem;
  text-align: center;
}

.site-footer .break2:after {
  height: 100px;
}

/* #EA4335 - red
#FBBC05 - yellow
#34A853 - green
#4385F4 - bluee



